<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pos.css') }}">
    

    <meta charset="UTF-8">
    <title>Señor Chilaquil - Sistema Ventas</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        nav a { margin-right: 10px; }
        table { border-collapse: collapse; width: 100%; margin-top: 10px; }
        table, th, td { border: 1px solid #ccc; padding: 5px; }
        .flash { padding: 8px; margin: 5px 0; border-radius: 4px; }
        .success { background: #c8e6c9; }
        .error { background: #ffcdd2; }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('nuevo_pedido') }}">Nuevo pedido</a>
        <a href="/pedidos_abiertos">Pedidos abiertos</a>
        <a href="{{ url_for('productos') }}">Productos</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('borrar_pedidos') }}">🗑️ Borrar pedidos</a>

    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="flash {{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <hr>
    {% block content %}{% endblock %}
</body>
</html>
